:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-button-color: #f5f4fa;
  --background-color-main: #2f303a;
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

body {
  color: var(--primary-text-color);
  background-color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.image {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero {
  background-color: var(--background-color-main);
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.hero.overlay {
  max-width: 1600px;
  height: 600px;
  outline: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-backgr.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero.overlay .hero.overlay {
    background-image: url("../images/Headerimg@2x.jpg");
  }
}

.button.primary {
  color: var(--title-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
}
.modal-close-btn:hover svg.modal-close-icon, .modal-close-btn:focus svg.modal-close-icon {
  fill: #2196f3;
}

.modal-close-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  padding: 0;
  vertical-align: middle;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: #2196f3;
}

.social-list-icon {
  fill: #afb1b8;
}

.social-list-item {
  display: block;
  margin-right: 10px;
  max-width: 480px;
}
.social-list-item:last-child {
  margin: 0;
}

a svg.social-list-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover svg.social-list-icon, a:focus svg.social-list-icon {
  fill: white;
}

.social-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0;
}

.hero__title {
  color: var(--title-text-color);
  font-size: 44px;
  line-height: 1.4;
  font-weight: 900;
  max-width: 696px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.title-modal-form {
  margin: 0;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.data {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  color: #000000;
}
.comment:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container .header__container {
  display: flex;
  align-items: center;
  height: 80px;
}

.header__logo {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.header__logo.link {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__link .link {
  display: flex;
}

.list {
  list-style: none;
  padding-left: 0;
  gap: 30px;
  padding: 0;
  margin-left: 0;
  margin: 0;
}

.contacts.list .mail {
  margin-right: 50px;
}

.accent {
  color: var(--accent-color);
}

.contacts__icon {
  fill: #757575;
  padding: 0;
  margin-right: 10px;
  vertical-align: middle;
}

a svg.contacts__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover svg.contacts__icon, a:focus svg.contacts__icon {
  fill: #2196f3;
}

.contacts__info {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  list-style: none;
  flex-wrap: wrap;
  padding-left: auto;
  padding-right: 10px;
  padding: 0;
  margin: 0 0 0 auto;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__info:hover, .contacts__info:focus {
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .contacts__info {
    display: none;
  }
}

.contacts {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  list-style: none;
  flex-wrap: wrap;
  padding-left: auto;
  gap: 50px;
  padding: 0;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    list-style: none;
    margin-left: auto;
    line-height: 1.17;
    font-size: 12px;
  }
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transform: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 0;
  fill: #212121;
  padding: 0;
  margin-left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus + .contact-form-icon {
  fill: var(--accent-color);
}

.contact-form-submit-btn {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 713px;
  padding: 10px 52px;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: block;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 30px;
}
.contact-form-submit-btn:hover, .contact-form-submit-btn:focus {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #FFFFFF;
}

.contact-form-checkbox {
  margin-bottom: 10px;
  border: 2px solid #212121;
  color: var(--accent-color);
}
.contact-form-checkbox:checked {
  background-color: var(--accent-color);
}
.contact-form-checkbox:checked {
  background-color: #2196f3;
  outline-offset: 2px;
}

.contact-checkbox {
  margin-left: 13px;
}

.checkbox-link {
  color: rgb(33, 150, 243);
}

.check-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  padding: 0;
  vertical-align: middle;
  cursor: pointer;
  width: 15px;
  height: 16px;
}

.black-border {
  display: flex;
  border: 2px solid black;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  align-items: center;
  justify-content: center;
}
.contact-form-checkbox:checked + .contact-form-checkbox-label .black-border {
  background-color: var(--accent-color);
  border-color: #2196f3;
  outline-offset: 2px;
}
.contact-form-checkbox:focus + .contact-form-checkbox-label .black-border {
  border-radius: 2px;
  border: 2px solid #2196f3;
}

.duty__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-right: 30px;
  padding: 0;
  margin-left: 0;
  margin: 0;
  gap: 30px;
}

.duty__item {
  width: 270px;
}
@media screen and (max-width: 767px) {
  .duty__item {
    width: 450px;
  }
}

.duty__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .duty__link {
    width: 450px;
  }
}

.duty__title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .duty__title {
    text-align: center;
  }
}

.duty__text {
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}

.header__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 93px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .header__link {
    display: none;
  }
}

.header__link .item {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__link .item:last-child {
  margin: 0;
}
.header__link .item:not(:last-child) {
  margin-right: 50px;
}

.header__link.list {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  gap: 50px;
}

.header__link .link {
  display: block;
  color: var(--accent-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link .link:hover, .header__link .link:focus {
  color: var(--primary-text-color);
}

.header__link .link.current {
  position: relative;
  color: var(--accent-color);
}
.header__link .link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.gallery {
  max-width: 370px;
}
@media screen and (min-width: 768px) {
  .gallery {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: calc((100% - 60px) / 3);
  }
}

.gallerylist {
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 30px;
}

.link-sdw {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-sdw:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-animation {
  position: relative;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blue-text {
  position: absolute;
  margin: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition: transform 250ms ease;
}
.portfolio-animation:hover .blue-text {
  transform: translateY(-100%);
}
.link-sdw:hover .blue-text, .link-sdw:focus .blue-text {
  transform: translateY(-100%);
}

.image-blue {
  display: block;
  position: relative;
}

.info-name {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.title-name {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  margin-bottom: 4px;
  margin-top: 0;
}

.discr {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}

.button-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  justify-content: center;
  margin: 0;
  margin-bottom: 50px;
}

.button.secondary {
  background-color: var(--secondary-button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary:hover, .button.secondary:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.button.secondary.blue {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 25px;
  padding-right: 25px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary.blue:hover, .button.secondary.blue:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.section-work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section-work {
    display: none;
  }
}

.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-title {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}

.thumb {
  position: relative;
}

.pic-text {
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.block.secondary {
  background-color: var(--secondary-button-color);
}

.item-shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .item-shadow {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .item-shadow {
    max-width: 270px;
  }
}

.names {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.person {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 0;
}

.prof {
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 16px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgb(175, 177, 184);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: white;
  margin: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.client-list-item {
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client-list-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-list-item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

a svg.client-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentColor;
}
.client-icon:hover svg {
  fill: #2196f3;
}

a:hover svg.client-icon, a:focus svg.client-icon {
  fill: #2196f3;
}

.client-list-icons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  gap: 30px;
}

.container.clients {
  display: block;
}

.footer__logo {
  font-family: Raleway;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.adres {
  margin-top: 0;
  margin-bottom: 0;
}

.email {
  margin-bottom: 9px;
}

.contacts__footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  padding-left: 0;
  padding: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.infoicons {
  display: flex;
}
@media screen and (max-width: 767px) {
  .infoicons {
    display: block;
    justify-content: space-between;
    width: 100vw;
  }
}
@media screen and (min-width: 1200px) {
  .infoicons {
    align-items: baseline;
  }
}

.footer-list {
  list-style: none;
  padding-left: 0;
  padding: 0;
  margin-bottom: 0;
}

.footer-icons {
  text-align: center;
  display: block;
}
@media screen and (max-width: 767px) {
  .footer-icons {
    padding-top: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-icons {
    margin-left: 0;
    display: block;
    text-align: left;
  }
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: #2196f3;
}

.footer-social-list-icon {
  fill: #ffffff;
}

.form {
  margin-left: auto;
}
@media screen and (max-width: 1199px) {
  .form {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    margin-left: auto;
  }
}

.form input {
  margin: 0;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  padding-left: 16px;
}

.subcribe-input {
  transform: border-color 250 ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}
.subcribe-input:focus {
  border-color: var(--title-text-color);
  outline: none;
}

.sub-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.btn-submit {
  width: 200px;
  height: 50px;
  left: 1213px;
  top: 1757px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: 12px;
  padding: 0;
  margin-top: 20px;
}

.btn-sub-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
  padding: 0;
  vertical-align: middle;
}

footer .container {
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  footer .container {
    gap: 70px;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  footer .container {
    display: flex;
  }
}

.footer-block {
  background-color: var(--background-color-main);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  color: var(--title-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  margin-top: 20px;
}

.footer-info {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer-info {
    padding-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-info {
    text-align: left;
    margin-right: 70px;
  }
}

.footer-list {
  list-style: none;
}

.footer-links-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  margin-top: 0;
  padding-right: 0;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mob-menu {
  margin-bottom: 48px;
}

.mobile-menu__list {
  font-family: Roboto;
  list-style: none;
  margin-bottom: 32px;
}

.mobile-menu__soclink {
  display: block;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  list-style: none;
  color: rgb(33, 150, 243);
}

.mobile-menu__socials {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 18px;
  list-style: none;
  padding-left: 0;
}

.mobile-menu__item:not(:last-child) {
  display: flex;
  gap: 10px;
}
.mobile-menu__item:not(:last-child)::after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mobile-menu__link {
  display: block;
  text-decoration: none;
  list-style: none;
  font-family: var(--main-font);
  font-size: 40px;
  line-height: 1.15;
  font-weight: 500;
  line-height: 1.2;
  color: rgb(33, 33, 33);
  margin-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: rgb(33, 150, 243);
}

.mobile-contacts {
  list-style: none;
  padding-left: 0;
  margin-bottom: 64px;
}

.mob-contacts {
  margin-bottom: 32px;
}

.mobile-contacts__mail {
  font-family: var(--main-font);
  font-size: 24px;
  line-height: 1.17;
  color: rgb(117, 117, 117);
  text-decoration: none;
  margin-bottom: 64px;
}

.mobile-contacts__tel {
  font-family: var(--main-font);
  font-size: 24px;
  line-height: 1.17;
  color: rgb(33, 150, 243);
  text-decoration: none;
  margin-bottom: 32px;
}

.menu-toggle {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  line-height: 0;
  cursor: pointer;
  outline: none;
  color: black;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle__icon {
  fill: rgb(33, 33, 33);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle__icon:hover, .menu-toggle__icon:focus {
  fill: rgb(33, 150, 243);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: rgb(33, 33, 33);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container .menu-toggle:hover, .menu-container .menu-toggle:focus {
  color: rgb(33, 150, 243);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .mobile-menu__close-btn {
    display: none;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}/*# sourceMappingURL=main.css.map */