.contact-form-checkbox-label {
  
    align-items: center;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    background-color: #FFFFFF;
  }
  
  .contact-form-checkbox {
  margin-bottom: 10px;
  border: 2px solid #212121;
  color: var(--accent-color);

  &:checked {
    background-color: var(--accent-color);
  }

  
  &:checked {
    background-color:  #2196f3;
    outline-offset: 2px;
  }

  }

  .contact-checkbox {
    margin-left: 13px;
    vertical-align: baseline;
    
  }
  
  .checkbox-link {
  color: rgba(33, 150, 243, 1);
  }
  
  .check-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #ffffff;
    padding: 0;
    vertical-align: middle;
    cursor: pointer;
    width: 11px;
    height: 8px;
  }
  
  .black-border {
    display: inline-block;
    border: 2px solid black;
    border-radius: 2px;
    width: 16px;
    height: 15px;
    margin-right: 8.38px;
    align-items: center;
    justify-content: center;

  .contact-form-checkbox:checked + .contact-form-checkbox-label & {
    background-color: var(--accent-color);
    border-color:  #2196f3;
    outline-offset: 2px;
    }
  
    .contact-form-checkbox:focus + .contact-form-checkbox-label & {
      border-radius: 2px;
      border: 2px solid #2196f3;
    }
  }
  
 
  