.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgba(175, 177, 184, 1);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    background-color: white;
    margin: 0;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border: 1px solid #2196f3;
      border-radius: 4px; 
    }
    
  }
  
  
  .client-list-item {
    gap: 30px;
    height: 92px;
    
    flex-basis: calc((100% - 30px) / 2);

    &:last-child {
      margin-right: 0;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
    width: 1200px;
      }
      
}

  a svg.client-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .client-icon {
    fill: currentColor;

    &:hover svg {
      fill: #2196f3
    }
  }
  
  a {
  &:hover svg.client-icon,
  &:focus svg.client-icon {
    fill: #2196f3;
  }
  }

  .client-list-icons {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 0;
  }


  .container.clients {
    display: block;

  }
  