.contact-form-field {
    display: block;
    margin-bottom: 10px;
    }
    
.contact-form-input {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      padding-left: 42px;
      transform: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:focus {
        border-color: var(--accent-color);
        outline: none;
        }

    }
    
    .contact-form-input-wrapper {
      position: relative;
      display: block;
      margin-top: 4px;
    }
    
    .contact-form-icon {
      position: absolute;
      top: 50%;
      left: 0;
      fill:  #212121;
      padding: 0;
      margin-left: 12px;
      transform: translateY(-50%);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

      .contact-form-input:focus + & {
        fill: var(--accent-color);
      }
    }
    
    .contact-form-submit-btn {
      width: 200px;
      height: 50px;
      left: 700px;
      top: 713px;
      padding: 10px 52px;
      background: #188CE8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: none;
      cursor: pointer;
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 16px;
      line-height: 1.8;
      display: block;
      margin: 0 auto;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
      color: #FFFFFF;
      
      
      &:hover, &:focus {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      @media screen and (min-width: 480px) {
        margin-top: 30px;
      }

      }
     