.duty__list {
    list-style: none;
   display: flex;
   flex-wrap: wrap;
    padding-left: 0;
    margin-right: 30px;
    padding: 0;
    margin-left: 0;
    margin: 0;
    gap: 30px;
  }

  .duty__item {
    width: 270px;
    
    @media screen and (max-width: 767px) {
      width: 450px;
    }
  }
 
  .duty__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;

    @media screen and (max-width: 767px) {
      width: 450px;
    }
  }

  .duty__title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    margin-top: 0;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
    
  }
  
  .duty__text {
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
  }