footer .container {
 
    align-items: baseline;

     @media screen and (min-width: 768px)  {
      
      gap: 70px;
      align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
  display: flex;
    }
  
  }
  
  .footer-block {
    background-color: var(--background-color-main);
    padding-top: 60px;
    padding-bottom: 60px; 
  }
  
  .footer {
    color: var(--title-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    margin-top: 20px;
  }
  
.footer-info {
    text-align: center;

   

      @media screen and (min-width: 768px) {
        display: block;
        justify-content: space-between;
       
      }

    @media screen and (min-width: 1200px) {
        text-align: left;
        margin-right: 70px;
    }
    
    }
    
    .footer-list {
      list-style: none;
    }
    
    .footer-links-title {
      color: var(--title-text-color);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      margin-bottom: 20px;
      margin-top: 0;
      padding-right: 0;
    }