.footer__logo {
    font-family: Raleway;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
  }
  
  .adres {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .email {
    margin-bottom: 9px;
  }
  
  .contacts__footer {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    list-style: none;
    padding-left: 0;
    padding: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .infoicons {
    display: flex;

    @media screen and (max-width: 767px) {
      display: block;
    }

  }
  
  .footer-list {
    list-style: none;
    padding-left: 0;
    padding: 0;
    margin-bottom: 0;
  }

  .footer-icons {
    text-align: center;
    display: block;

    @media screen and (max-width: 767px) {
    padding-top: 70px;
    }

    
    @media screen and (min-width: 1200px) {
    margin-left: 0;
    display: block;
    text-align: left;
    }
  
  }
