
.header__link {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 93px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
    color: var(--accent-color);
  }
  }

  .header__link .item {
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;

    &:last-child {
      margin: 0;
    }
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  
  .header__link.list {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    gap: 50px;
  }
  
  .header__link .link {
    display: block;
    color: var(--accent-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--primary-text-color);
    }
  }
  
 

  .header__link .link.current {
    position: relative;
    color: var(--accent-color);

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      bottom: 0;
      left: 0;
      border-radius: 2px;
      }
  }
  
  
  