.contacts__icon {
    fill: #757575;
    padding: 0;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  a svg.contacts__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  a {
  &:hover svg.contacts__icon,
  &:focus svg.contacts__icon {
    fill: #2196f3;
  }
  }

  .contacts__info {
    display: flex;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    list-style: none;
    flex-wrap: wrap;
    padding-left: auto;
    padding-right: 10px;
    padding: 0;
    margin: 0 0 0 auto;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
    color: var(--accent-color);
    }

    @media screen and (max-width: 767px) {
    display: none;
  }
}
  
 
  .contacts {
    display: flex;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    list-style: none;
    flex-wrap: wrap;
    padding-left: auto;
    gap: 50px;
    padding: 0;
    margin: 0 0 0 auto;
  }
  
  