.hero {
    background-color: var(--background-color-main);
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
  }
  
  .hero.overlay {
    max-width: 1600px;
    height: 600px;
    outline: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/Img-backgr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      .hero.overlay {
        background-image: url("../images/Headerimg@2x.jpg")
      }
    }
  }
  

  .button.primary {
    color: var(--title-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  }
  