  
  .hero__title {
    color: var(--title-text-color);
    font-size: 44px;
    line-height: 1.4;
    font-weight: 900;
    max-width: 696px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
  }
  