.gallery {
    max-width: 370px;

    @media screen and (min-width: 768px) {
        max-width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        max-width: calc((100% - 60px) / 3);
    }
  }

  
  .gallerylist {
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 30px;

    @media screen and (min-width: 768px) {
      max-width: calc((100% - 30px) / 2);
  }

  }
  
  .link-sdw {
    text-decoration: none;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  
  .portfolio-animation {
    position: relative;
    overflow: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .blue-text {
    position: absolute;
    margin: 0;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: transform 250ms ease;

    .portfolio-animation:hover & {
      transform: translateY(-100%);
    }

    .link-sdw:hover &, .link-sdw:focus & {
      transform: translateY(-100%);
    }
    }
    
    

    .image-blue {
        display: block;
        position: relative;
        }

.info-name {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }

  .title-name {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-decoration: none;
    margin-bottom: 4px;
    margin-top: 0;
  }
  
  .discr {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
  }
