.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
    background-color: #2196f3;
}
  }
  
  .social-list-icon {
    fill: #afb1b8;
  }

  .social-list-item {
    display: block;
    margin-right: 10px;
    max-width: 480px;

    &:last-child {
      margin: 0;
    }
  }
  
  a svg.social-list-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  a {
  &:hover svg.social-list-icon,
  &:focus svg.social-list-icon {
    fill: white;
  }
  }

.social-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0;
  }

  