.names {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;

    
  }

  .person {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 0;
  }
  
  .prof {
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 16px;
  }

